<% if @cities.empty? %>
  <div class="d-flex flex-column align-items-center">
    <p class="text-muted text-center">You have no cities yet</p>

    <%= form_with(url: fetch_cities_path, method: :post, data: { turbo_frame: 'cities-frame' }) do |f| %>
      <div class="actions">
        <button id="submit-button" class="btn btn-primary">
          <span id="submit-loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
          <span id="submit-label">Fetch from AccuWeather</span>
        </button>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row">
    <% @cities.each do |city| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <%= render partial: "city_card", locals: { city: city } %>
      </div>
    <% end %>
  </div>
<% end %>

<script>
  document.addEventListener('turbo:load', function() {
    const myButton = document.getElementById('submit-button');
    const buttonLoading = document.getElementById('submit-loading');

    if (myButton === null || buttonLoading === null) return;

    myButton.addEventListener('click', (event) => {
      buttonLoading.style.display = 'inline-block';

      setTimeout(() => {
        myButton.disabled = true;
      }, 100);

      setTimeout(() => {
        myButton.disabled = false;
        buttonLoading.style.display = 'none';
      }, 2000);
    });
  });
</script>
